html, body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  padding: 10px 10px 0 10px;
}
body {
  margin-top: 40px;
}
heading { display: block; font-weight: bold; margin: 0; }
a { text-decoration: none; color: black; font-weight: bold; }
a:visited { color: #333; }
a:hover { color: red; }
p { margin: 12px 0 12px 0; text-align: justify; line-height: 120%; }
nav {
  display: block;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}
nav > heading {
  display: inline-block;
  margin: 6px 0 0 0;
  padding: 0 6px 0 0;
  cursor: pointer;
  vertical-align: middle;
}
nav > links {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
nav.primary {
  position: fixed;
  background: white;
  padding: 5px 10px 10px 10px;
  border-bottom: 4px solid #DDD;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  z-index: 100;
}
nav.primary > links > a {
  display: inline-block;
  padding: 0 6px 0 6px;
  margin: 6px 0 0 0;
  border-left: 2px solid #666;
}
nav.secondary {
  display: inline-block;
  position: fixed;
  top: 40px;
  left: 0;
  background: white;
}
nav.secondary > links {
  display: block;
  padding: 0 0 6px 0;
  margin: 6px 0 0 10px;
  width: 400px;
  height: 93vh;
  border-right: 3px solid #DDD;
}
nav.secondary > links > a {
  display: block;
  padding: 0;
  margin: 6px 0 0 0;
  border-left: none;
}
endpoint {
  display: block;
  padding: 5px 0 10px 20px;
  border: 1px solid #DDD;
  border-left: 10px solid #DDD;
  margin: 0 0 10px 0;
}
endpoint:hover {
  border-left: 10px solid #CEF;
}
endpoint > heading {
  font-size: 130%;
}
endpoint > p {
  text-align: left;
}
footer {
  display: block;
  margin-left: 410px;
  padding: 10px 5px 0 5px;
  margin-top: 10px;
  border-top: 4px solid #DDD;
}
footer > p {
  text-align: left;
}
body > content {
  display: block;
  margin-left: 410px;
}
content > heading {
  font-size: 140%;
  margin-bottom: 10px;
}
code {
  display: block;
  position: relative;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 24px 0 0;
}
code.sample {
  background: #69B;
  color: #eee;
  height: 120px;
  overflow: hidden;
  border-bottom: 4px solid #345;
}
code.sample.expandable:hover::after {
  content: 'Click to expand';
  font-family: Lato, Helvetica, Arial, sans-serif;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(90,120,150,0.8);
  color: #eee;
  font-weight: bold;
  text-align: center;;
  padding: 10px 10px 10px 10px;
}
code.sample.expanded {
  height: auto;
}
code.sample.expandable.expanded:hover::after {
  content: 'Click to collapse';
}

code.schema {
  background: #567;
  color: #eee;
  height: 120px;
  overflow: hidden;
  border-bottom: 4px solid #345;
}
code.schema.expandable:hover::after {
  content: 'Click to expand';
  font-family: Lato, Helvetica, Arial, sans-serif;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(90,120,150,0.8);
  color: #eee;
  font-weight: bold;
  text-align: center;;
  padding: 10px 10px 10px 10px;
}
code.schema.expanded {
  height: auto;
}
code.schema.expandable.expanded:hover::after {
  content: 'Click to collapse';
}
code:hover {
  color: white;
}
