html, body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  padding: 10px;
}
heading { display: block; font-weight: bold; margin: 6px 0 12px 0; }
a { text-decoration: none; color: black; font-weight: bold; }
a:visited { color: #333; }
a:hover { color: red; }
p { margin: 12px 0 12px 0; }
nav {
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 4px solid #DDD;
}
endpoint {
  display: block;
  padding-left: 20px;
  border-left: 10px solid #DDD;
  margin: 0 0 10px 0;
}
endpoint:hover {
  border-left: 10px solid #CEF;
}
endpoint > heading {
  font-size: 130%;
}
footer {
  padding: 10px;
  margin-top: 10px;
  border-top: 4px solid #DDD;
}
content > heading {
  font-size: 140%;
  margin-bottom: 10px;
}
code {
  display: inline-block;
  min-width: 50%;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 24px 0 0;
}
code.sample {
  background:#69B;
  color: #eee;
}
code.schema {
  background:#567;
  color: #eee;
}
code:hover {
  color: white;
}
