html, body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  padding: 10px;
}
heading { display: block; font-weight: bold; margin: 6px 0 12px 0; }
a { text-decoration: none; color: black; font-weight: bold; }
a:visited { color: #333; }
a:hover { color: red; }
p { margin: 12px 0 12px 0; text-align: justify; line-height: 120%; }
nav {
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 4px solid #DDD;
}
endpoint {
  display: block;
  padding: 5px 0 10px 20px;
  border: 1px solid #DDD;
  border-left: 10px solid #DDD;
  margin: 0 0 10px 0;
}
endpoint:hover {
  border-left: 10px solid #CEF;
}
endpoint > heading {
  font-size: 130%;
}
endpoint > p {
  text-align: left;
}
footer {
  padding: 10px;
  margin-top: 10px;
  border-top: 4px solid #DDD;
}
footer > p {
  text-align: left;
}
content > heading {
  font-size: 140%;
  margin-bottom: 10px;
}
code {
  display: block;
  position: relative;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 24px 0 0;
}
code.sample {
  background: #69B;
  color: #eee;
}
code.schema {
  background: #567;
  color: #eee;
  height: 120px;
  overflow: hidden;
  border-bottom: 4px solid #345;
}
code.schema.expandable:hover::after {
  content: 'Click to expand';
  font-family: Lato, Helvetica, Arial, sans-serif;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(90,120,150,0.8);
  color: #eee;
  font-weight: bold;
  text-align: center;;
  padding: 10px 10px 10px 10px;
}
code.schema.expanded {
  height: auto;
}
code.schema.expandable.expanded:hover::after {
  content: 'Click to collapse';
}
code:hover {
  color: white;
}
